@import "tailwindcss";

body {
    font-family: 'Arial Narrow', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.activo {
    /* text-decoration: underline; */
    color: #ffecb3;
    cursor: default;

    &:hover {
        text-decoration: underline;
    }
}

a:hover {
    text-decoration: underline;
}